.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary), transparent
    );
    display: grid;
}

.about__me__image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}
section .about_container .about_me .about_me-image img{
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.about__me__image:hover{
    transform:rotate(0);
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    overflow: hidden;
}

.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    border-radius: 30px;
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}


.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size: .95rem;
}

.about__card small{
    font-size: .7rem;
    color: var(--color-light);
}

.about__me__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


@media screen and(max-width:1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__me p{
        margin: 1rem 0 1.5rem;
    }
    
}

@media only screen and (max-width: 710px) {
    
.about__container{
    grid-template-columns: 1fr;
    gap: 0;
}

.about__me{
    width: 65%;
    margin: 0 auto 3rem;
}

.about__cards{
    grid-template-columns: repeat(1, 1fr) !important;
    width: 100%;
    gap: 1rem;
}

.about__me__content{
    text-align: center;
}

.about__me__content p{
    margin: 1.5rem 0;
    }

}